.container{
    border: 1px solid rgb(0, 255, 106);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:minmax(200px, auto);
    grid-template-areas: 
        "top top"
        "middle-top middle-top"
        "middle-bottom middle-bottom"
        "bottom bottom";
}

.header{
    grid-area: top;
    border: 1px solid #e61414;
}
.author-info{
    grid-area: middle-top;
    border: 1px solid #e61414;
}

.content{
    grid-area: middle-bottom;
    border: 1px solid #e61414;
}

.social{
    grid-area: bottom;
    border: 1px solid #e61414;
}