.container{
    border: 1px solid rgb(0, 255, 106);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:minmax(200px, auto);
    grid-template-areas: 
        "top top"
        "middle-left middle-left"
        "middle-right middle-right"
        "bottum bottum";
}

.header{
    grid-area: top;
    border: 1px solid red;
}

.nav-bar{
    grid-area: middle-left;
    border: 1px solid red;
}

.article-preview{
    grid-area: middle-right;
    border: 1px solid red;
}

.footer{
    grid-area: bottum;
    border: 1px solid red;
}