.social {
  padding: 10px;
  grid-area: bottom;
  margin: 10px;
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: 100px;
}

.facebook {
  background-image: url("../img/facebook.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url("../img/twitter.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url("../img/linkedin.png");
  background-size: contain;
  background-repeat: no-repeat;
}
