.article-preview{
    grid-area: middle-right;
    /* border: 1px solid red; */
    display: grid;
    margin: 2px;

}

.post-card{
    /* border: 2px solid black; */
    margin: 2px;
    background-color: #e5e5e5;
}
.art1,
.art2,
.art3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "img blg"
        "img btn";
}

.element1{
    grid-area: blg;
}

.element2{
    grid-area: img;
    /* border: 2px solid black; */
    background-image: url("../img/placeimg_500_400_tech.jpg");
    background-size: 100%;

}

.element3{
    grid-area: btn;
}

.header-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #e5e5e5;
}