@import "./header..css";
@import "./nav-bar.css";
@import "./article-preview.css";
@import "./footer.css";

.container {
    background-color: cadetblue;
    font-family: "Bangers", cursive;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(200px, auto);
    grid-template-areas:
        "top top"
        "middle-left middle-left"
        "middle-right middle-right"
        "figcap figcap"
        "bottom bottom";
}
.figcap {
    grid-area: figcap;
    margin: 2px;
}

.figcap-img {
    width: 100%;
}

@media (min-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: minmax(200px, auto);
        grid-template-areas:
            "top top"
            "middle-left middle-right"
            "middle-left middle-right"
            "figcap figcap"
            "bottom bottom";
    }
    .list-flex {
        height: 100%;
        flex-direction: column;
        margin: 10px;
    }
}
