.nav-bar {
    grid-area: middle-left;
}

.list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2px;
    background-color: #e5e5e5;
}

.list-flex li {
    list-style-type: none;
}
